@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


h1 {
    font-family: "Jost", sans-serif;
    font-weight: 900;
}

* {
    font-family: "Nunito Sans", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

header {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: #EFEFEF;
    justify-content: space-between;
}

header .logo i {
    font-size: 35px;
    padding: 0;
    margin: 0;
}

.becomeahost {
    font-weight: 650;
}

header .logo strong {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wherewhenwho {
    width: 1000px;
    background: white;
    margin: 103px auto 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 999px;
    outline: 2px solid #efefef;
    outline-offset: -1px;
    z-index: -2;
}

.when,
.who {
    font-family: 'Inter', sans-serif !important;

    flex: 1;
    padding: 12px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 999px;
    cursor: pointer;
    transition: 0.2s ease;
}

.where {
    font-family: 'Inter', sans-serif !important;

    box-sizing: border-box;
    flex: 1;
    padding: 12px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 999px;
    cursor: pointer;
    transition: 0.2s ease;
}

.when {
    flex: 1;
    padding: 12px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0px;
    cursor: pointer;
    transition: 0.2s ease;
}

.when {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.where:hover,
.when:hover,
.who:hover {
    background: #E5E5E5;
    outline: 2px solid rgba(0, 0, 0, 0.15);
    outline-offset: -3px;
}

.when:hover {
    border-radius: 955px;
    border-left-color: #E5E5E5;
    border-right-color: #E5E5E5;
}

.maincontainerofheader {
    background-color: #EFEFEF;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    max-width: 2200px;
    width: 100%;
    box-sizing: border-box;
    z-index: 9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px 30px 80px;
}

nav {
    padding: 0 0 0 0%;
    left: 49.5%;
    transform: translateX(-50%);
    position: fixed;
    margin: auto;
}

.navcolor {
    width: 100vw;
    background-color: #EFEFEF;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
}

.logo {
    color: #FF385C;
    font-size: 30px;
}

nav ul {
    font-size: 19px;
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 90px;
    align-items: center;
}

nav ul li {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 10px;
    justify-content: center;
}


nav ul a {
    font-family: "Jost", sans-serif;
    font-weight: 550 !important;
    position: relative;
    display: inline-block;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.663);
    text-decoration: none;
    transition: all 0.4s linear;
    font-weight: 500;
    display: inline-block;
}

nav ul a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    /* underline thickness */
    background: currentColor;
    /* matches text color */
    transition: width 0.4s ease;
}

nav ul li:nth-child(2) a:hover::before,
nav ul li:nth-child(3) a:hover::before {
    width: 100%;
}

header .inheadercontainer {
    display: flex;
    gap: 20px;
    font-size: 16px;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
}

header .mainnav a.active:hover {
    transform: scale(1.15);
    text-decoration: underline;
}

header .mainnav a:hover {
    color: black;
    transform: scale(1.01);
}

.active {
    color: black;
    transform: scale(1.15);
    text-decoration: underline;
}

.active:active {
    color: black;
    transform: scale(1.1);
}

header .svg {
    background-color: #6d6b6b45;
    border-radius: 60%;
    padding: 10px 10px 10px 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.3s;
}

header i {
    font-size: 18px;
}

header .svg:hover {
    cursor: pointer;
    background-color: #6d6b6b98;
}

header i:hover {
    transform: scale(1.01);

}

main {
    display: flex;
    flex-direction: column;
    gap: 0px;
    /* margin: 90px 0; */
    padding: 200px 65px 30px 65px;
    width: 100%;
    align-items: center;
}

.icons{
    display: none;
}

.guest{
    background: #000;
    padding: 6px 8px;
    width: 130px;
    font-weight: 650;
    border-radius: 450px;
    background-color: #E4E1DF;
}

.one {
    padding-top: 10px;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    /* height: 10px; */
    display: flex;
    /* flex-direction: colum n; */
    width: 97%;
    /* padding: 0 30px; */
    justify-content: space-between;
    align-items: center;
    /* padding: 0 20px; */
}

.emergency {
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        margin-bottom: 0;
    }
}

.circlecon {
    cursor: pointer;
    display: flex;
    gap: 10px;

    .circle {
        padding: 10px 12px;
        background: #EFEFEF;
        border-radius: 50%;
        transition: 0.2s all linear;
    }
}

.circle:hover {
    background: #6d6b6b98;
}

.container {
    display: grid;
    width: 100%;
    /* place-items: center; */
    justify-items: center;
    grid-template-rows: 60px auto;
    /* grid-template-columns: 100% 100%; */
    /* gap: 50px 500px; */
    /* align-items: start; */
    max-width: 1870px;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* width: 1375px; */
}

section h1 {
    align-self: self-start;
    /* margin-bottom: 13px; */
    font-size: 26px;
    font-weight: 630;
    /* width: 1365px; */
    align-self: self-start;
    position: relative;
}

figcaption {
    /* box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    display: block; */
    max-width: 182px;
}

figure img {
    border-radius: 24px;
    width: 185px;
    height: 175px;

}

figure figcaption {
    cursor: pointer;
}

.sectioncontainer {
    /* position: relative; */
    display: grid;
    gap: 0.8%;
    /* justify-items: center; */
    /* place-items: center; */
    width: 100%;
    justify-content: center;
    /* justify-items: center; */
    /* place-items: center; */
    /* align-items: center; */
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-row: 3 / -2;
}

figure h3 {
    font-weight: 600;
    padding-left: 5px;
    padding-bottom: 2px;
    font-size: 15px;
    letter-spacing: 0.4px;
}

figure p {
    color: rgba(0, 0, 0, 0.541);
    font-weight: 500;
    font-size: 13px;
    padding-left: 5px;
    letter-spacing: 0.2px;
    word-spacing: 0.1px;
    margin-bottom: 26px;
}

/* .guestfavorite{
    position: absolute;
    z-index: 1000;
    top: 240px;
    right: 9px;
    left: 50%;
    left: 23%;
    transform: translate(-50%);
    width: 98px;
    background-color: #E9E7E5;
    display: inline-block;
    border: 2px solid black;
} */
/* .eight, .nine{
    display: none;
 } */
footer {
    width: 100%;
    background-color: #F7F7F7;
}

footer h4 {
    margin-bottom: 20px;
    margin-top: 52px;
    font-size: 25px;
    font-weight: 700;
    color: rgb(34, 34, 34);
    font-family: "Quicksand", cursive;
}

footer ul {
    border-bottom: 2px solid rgba(0, 0, 0, 0.267);
    list-style: none;
    padding-bottom: 0;
    display: flex;
    gap: 4%;
}

footer ul li:nth-child(9) {
    display: none;
}

footer ul a {
    font-family: "Quicksand", cursive;
    color: rgb(59, 59, 59);
    font-weight: 550;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 0px;
    transition: all 0.02s ease-in-out;
}

footer ul a:hover {
    /* transform: scale(1.0005); */
    /* color: rgba(0, 0, 0, 0.536);
    font-weight: 450; */
    /* text-decoration: underline 2px solid black; */
    /* font-size: 18px;
    display: inline-block;
    margin-bottom: 0px; */
    border-bottom: 2px solid black;
    color: black;
    padding-bottom: 14px;
}

.activepopular {
    /* text-decoration: underline; */
    border-bottom: 2px solid black;
    color: black;
    padding-bottom: 14px;
}

.infootercontainer {
    display: flex;
    flex-direction: column;
    /* padding: 0 7.5% 0 7.5%; */
}

.infootercontentcontainer {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    gap: 7.3%;
}

footer span.infootercontainerspan {
    display: flex;
    color: rgb(34, 34, 34);
    flex-direction: column;
    gap: 30px;
}

.infooterfirstspan {
    gap: 5px;
    margin-top: 2px;
    display: flex;
    flex-direction: column;

}

.infooterfirstspan div {
    font-family: "Great Vibes", cursive;
    /* font-family: "Cormorant Garamond", serif; */
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: rgb(106, 106, 106);
}

.infooterfirstspan div:hover {
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
}

.infooterfirstspan strong {
    /* font-style: oblique; */
    font-weight: 525;
}

.center1 {
    width: 100%;
    /* margin: auto; */
    display: flex;
    /* flex-direction: row; */
    justify-content: center;

}

.center {
    max-width: 1800px;
    width: 100%;
    padding: 0 20px;
    /* text-align: center; */
}

.buss {
    width: 100%;
    display: flex;
    justify-content: center;
}

.aakhri {
    margin-top: 80px;
    /* margin-bottom: 40px; */
    display: flex;
    justify-content: space-between;
    max-width: 1360px;
    width: 100%;
    /* gap: %; */
    /* justify-content: flex-start; */
    padding: 0 0% 40px 0%;
}

.aakhri strong {
    margin-bottom: 9px;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    padding: 0 2px;
    /* margin: auto; */
    /* text-align: center; */
}

.aakhri a {
    text-decoration: none;
    color: rgb(44, 44, 44);
}

.aakhri a:hover {
    text-decoration: underline 2px solid;
    color: black;
}

.teencontainerfoot {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.aakhrisection {
    border-top: 1px solid rgba(0, 0, 0, 0.373);
    padding: 30px 10% 30px 10%;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.aakhrisection a {
    font-size: 17px;
    font-weight: 450;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.85);
}

.imger {
    display: flex;
    align-items: center;
}

#unique {
    text-decoration: underline 2px solid;

}


/* .infootercontainerspan{
    display: flex;
 } */